* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3d6cd2;
    box-shadow: 1px 1px 8px rgb(75, 75, 75);
}

header h1 {
    color: #fff;
    font-weight: normal;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container li {
    display: inline;
    margin-left: 20px;
}

header .container li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.sobre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobre img {
    max-width: 320px;
    margin-right: 20px;
}

.container h2 {
    color: #3d6cd2;
    border-bottom: 1px solid #749cd4;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.produtos ul {
    display: flex;
    max-width: 100%;
}

.produtos li {
    margin-right: 10px;
    list-style-type: none;
}

.produtos img {
    max-width: 220px;
}

.produtos h3 {
    font-size: 24px;
    margin: 16px 0;
}

.produtos p {
    font-size: 14px;
    color: rgb(35, 35, 35);
    margin-bottom: 16px;
}

.produtos button {
    font-size: 14px;
    background-color: #3d6cd2;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 16px;
    width: 220px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(75, 75, 75);
}

.produtos button:hover {
    background-color: #749cd4;
}

@media screen and (max-width: 767px) {
    .sobre {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .sobre img {
        max-width: 100%;
    }

    .sobre h2 {
        margin-top: 10px;
    }

    .sobre p {
        max-width: 100%;
    }

    header .container li {
        display: flex;
        margin-left: 0;
    }

    .produtos ul {
        display: block;
        max-width: 100%;
    }

    .produtos li {
        margin-bottom: 10px;
        border-bottom: 1px solid #3d6cd2;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .sobre {
        display: block;
    }

    .sobre img {
        max-width: 100%;
    }

    .sobre h2 {
        margin-top: 10px;
    }

    .sobre p {
        max-width: 100%;
    }

    .produtos ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .produtos li {
        margin-right: 22px;
    }

    .produtos img {
        max-width: 320px;
    }
}